.header__logo{
margin: 34px auto 91px auto;
width: 254.83px;
height: 68.94px;

}

.header__heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__texto-principal{
    font-family: 'inter';
    font-weight: 900;
    font-style: Black;
    font-size: 96px;
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    width: 720px;
    height: 200px;
}

.header__texto-secundario{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin: 32px auto 64px auto;
    width: 720px;
    height: 72px;

}

.header__imagen{
    width: 100%;
    object-fit: cover;


}

@media  (max-width:1024px) {
    .header__logo{
        margin-top:30px ;
        margin-bottom: 90px;
        max-width: 264px;
        height: 66px;
        display: flex;
        
    }

        .header__texto-principal{
    font-size: 75px;
    line-height:79px;
    width:530px;
    height: 158px;
}

    .header__texto-secundario{
        margin: 25px auto 30px auto;
        font-size: 30px;
        line-height: 36px;
        width:100%;
    height: 72px;
    }

}

@media  (max-width:640px) {

    .header__logo{
        margin-top: 20px;
        margin-bottom:50px ;
        width: 188px;
        height: 52px;
        display: flex;
        justify-content: center;
    }

    .header__texto-secundario{
        margin: 16px auto 40px auto;
        width: 288px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }


        .header__texto-principal{
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
        height: 88px;


}

    }
    
