

.intro{
    margin-top: 92px;
    background-color: rgba(127, 255, 212, 0);
}



.intro__texto-pr{
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 39px;

}

.intro__texto-sec{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
}

.intro__cita{
    text-align: end;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
    color: white;
    margin: 10px 0 32px 0;



}



.intro__texto-ter{
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

@media  (max-width:1024px) {

    .intro{
    margin: 0 ;
     padding: 0 24px 0 24px;
    }

    .intro__heading{
        margin: 0 auto;
    }

    .intro__texto-pr{
        margin-top:90px;
        margin-bottom: 0;
        font-size: 45px;
        line-height: 49px;
    }

    .intro__texto-sec{
        margin-top: 50px;
    }

    .intro__cita{
        margin:10px 0 32px 0 ;
        font-family: Inter;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
    }
    
    .intro__texto-ter{
        margin: 0 0 88px 0;
        font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 163%;
letter-spacing: 0%;
    }
}

@media  (max-width:640px){
    
    .intro__texto-pr{
        margin-bottom: 40px;
        margin-top: 64px;
        line-height: 35px;
        font-size: 32px;
    }

    .intro__texto-sec{
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }

    .intro__cita{
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0%;
        text-align: right;
    }

    .intro__textp_ter{
        height: 442px;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        letter-spacing: 0%;
    }
}