

.intro{
    margin-top: 92px;
}

.intro__heading{
    margin-right:302px ;
    /*
    width:830px;
    height:607px;
    */
}

.intro__texto-pr{
    font-family: Inter;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 39px

}

.intro__texto-sec{
    font-family: ;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;

}

.intro__cita{
    text-align: end;
    font-family: ;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
    color: white;
    margin: 10px auto 32px auto;

}

.intro__textp_ter{
    font-family: ;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    margin-bottom: 92px;

}

@media  (max-width:768px) {

    .intro__heading{
        margin: 0;
    }
    .intro__texto-pr{
        margin-top:90px;
        margin-bottom: 0;
        font-size: 45px;
        line-height: 49px;
    
    }

    .intro__texto-sec{
        margin-top: 50px;
    }

    .intro__cita{
        margin:10px auto 32px auto ;
    }
    
    .intro__textp_ter{
        margin-bottom: 88px;
    }
}

@media  (max-width:320px){
    .intro__texto-pr{
        margin-bottom: 40px;
        margin-top: 64px;
    }

    .intro__texto-sec{
        margin-top: 0;
        margin-bottom: 10px;
        line-height:30px ;
    }

    .intro__textp_ter{
        margin-bottom:64px ;
    }
}