

.intro{
    margin-top: 92px;
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    height: 607px;
}



.intro__texto-pr{
    font-family: Inter;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 39px;
    max-width: 830px;
    height: 173.92px

}

.intro__texto-sec{
    font-family: ;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    max-width: 738px;
    height: 135.655px;
}

.intro__cita{
    text-align: end;
    font-family: ;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
    color: white;
    margin: 10px 0 32px 0;
    width:100% ;
    height: 33px

}



.intro__texto_ter{
    font-family: ;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    
    max-width: 722px;
    height: 181.54px;

}

@media  (max-width:1024px) {

    .intro{
    margin: 0 ;
    }
    .intro__texto-pr{
        margin-top:90px;
        margin-bottom: 0;
        font-size: 45px;
        line-height: 49px;
        max-width: 707px;
        height: 147px;
    
    }

    .intro__texto-sec{
        margin-top: 50px;
        max-width: 720px;
        height: 136px;
    }

    .intro__cita{
        margin:10px 0 32px 0 ;
        max-width: 720px;
        height: 34px;
        font-family: Inter;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
    }
    
    .intro__texto-ter{
        margin: 0 0 88px 0;
        max-width: 720px;
        font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 163%;
letter-spacing: 0%;


    }
}

@media  (max-width:640px){

    .intro{
        width: 288px;
        height:  1023px;
    }

    .intro__texto-pr{
        margin-bottom: 40px;
        margin-top: 64px;
        max-width: 288px;
        height: 175px;
        line-height: 35px;
        font-size: 32px;
       
    }

    .intro__texto-sec{
        margin-top: 0;
        margin-bottom: 10px;
        font-family: Inter;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0%;
        max-width: 288px;
        height: 300px;
    }

    .intro__cita{
        font-family: Inter;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0%;
        text-align: right;
        max-width: 288px;
        height: 34px;

    }

    .intro__textp_ter{
        width: 288px;
        height: 442px;
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        letter-spacing: 0%;






    }
}