.places{
}
.place{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto ) ;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 80px;
    
}

.place:nth-last-child(4){
    justify-self: end;
}

.place__title{
font-family: Inter;
font-weight: 900;
font-size: 72px;
line-height: 76px;
letter-spacing: 0%;
margin-top: 0;
margin-bottom: 0;

}

.place__img{
    display: block;
    width: 100%;
    object-fit: cover;
    box-shadow:10px 10px 25px 0px rgba(0, 0, 0, 0.5);
    margin-top: 0;
margin-bottom: 0;
    grid-row: 2/3;
}

.place__btn{
    width: 289px;

height: 48;
border-radius: 4px;
padding-top: 13px;
padding-right: 20px;
padding-bottom: 13px;
padding-left: 20px;
background-color: rgb(0, 166, 255);
background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
grid-row: 3/4;


}

.place__webside{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: 0%;
        align-self: end;
}


.place__webside-url{
font-weight: 400;
font-size: 12px;
line-height: 1;
letter-spacing: 12%;
text-transform: uppercase;

}

.place__paragraph-principal{
font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 163%;
letter-spacing: 0%;
margin-top: 48px;

}


.place__img-two{
    grid-row: 2/3;
    margin: 0;
}

@media  (max-width:1024px){
    .places{
         margin: 0 ;
     padding: 0 24px 0 24px;
    }

    .place__title{
        font-family: Inter;
font-weight: 900;
font-size: 42px;
line-height: 46px;
letter-spacing: 0%;
    }
    .place__btn{
        font-family: Inter;
font-weight: 600;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
    }

    .place__webside{
        font-size: 16px;
    }

    .place__paragraph-principal{
        font-size: 16px;
    }

    
    }
    @media  (max-width:640px){
        .place{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            

        }

        .place__title{
            margin-bottom: 30px;
        }

        .place__webside{
            margin-bottom: 30px;
            margin-left: 0;
            text-align: left;
        }

        .place__btn{
    
            width: 100%;
            margin-top: 30px;
            
        }

    .place__img img{
    }
}



